.projects {
    margin: 80px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--color-text2);
    font-size: 1.1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: justify;

    &List {
        max-width: 100%;
    }

    &Item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 25px;
        margin-top: 25px;
        border-radius: 5px;
        cursor: pointer;
        color: var(--color-text2);
        transition: all .3s linear;

        &:hover {
            background-color: var(--bg--fon);
            -webkit-box-shadow: 22px 14px 25px 6px rgba(47, 59, 84, 0.2);
            -moz-box-shadow: 22px 14px 25px 6px rgba(47, 59, 84, 0.2);
            box-shadow: 22px 14px 25px 6px rgba(47, 59, 84, 0.2);
            color: var(--color-text2);

            & img {
                transform: scale(1.2);
            }

            & .projectsTitle {
                color: var(--color-text3);

                & svg {
                    position: relative;
                    top: -10%;
                    transform: scale(1.2);
                }
            }
        }
    }

    &Wrapper {
        width: 100% !important;
        flex-grow: 1;
        display: flex;
        background-size: contain;
    }

    &Image {
        max-width: 137.38px;
        object-fit: contain;
        margin-right: 45px;
        transition: all .3s linear;
        border-radius: 5px;
    }

    &Info {
        width: 100%;
        flex-grow: 1;
    }

    &Title {
        position: relative;
        display: inline-block;
        width: 210px;
        transition: all .3s linear;
        color: var(--color--main);

        & svg {
            width: 15px;
            transition: all .3s linear;
        }
    }

    &Subtitles {
        width: 100%;
        flex-grow: 1;
        color: var(--color-text2);
        font-size: 1vw;
        font-style: normal;
        font-weight: 200;
        line-height: 150%;
        text-align: justify;
    }

    &Tech {
        width: 100%;
        display: flex;
        margin-top: 15px;

        & li {
            background-color: var(--bg--project);
            text-align: center;
            flex-wrap: wrap;
            width: 90px;
            border-radius: 15px;
            color: var(--color-text3);
            font-size: .8vw;
            margin-right: 15px;
        }
    }

    @media screen and (max-width:890px) {
        & {
            max-width: 100%;
            margin: 25px auto 0;
            padding: 0;
        }

        &Header {
            font-size: 20px;
            text-align: left;
            margin: 20px 0 30px;
            color: var(--color-text3);
        }

        &Tech li {
            background-color: transparent;
            border: .5px solid var(--color-text3);
            font-size: 7px;
            width: 100%;
            max-width: 100px;
        }

        &Tech li:last-of-type {
            margin-right: 0;
        }
    }

    @media screen and (max-width:860px) {
        &Title {
            font-size: 16px;
        }

        &Subtitles {
            font-size: 14px;
        }
    }

    @media screen and (max-width:560px) {

        &List li {
            background-color: var(--bg--fon);
            border-radius: 5px;
        }

        &Item {
            padding: 15px;

        }

        &Wrapper {
            background-color: rgb(17, 34, 64, .8);
            background-blend-mode: multiply;
        }

        &Info {
            padding: 5px;
        }

        &Item:hover {
            &:hover {
                background-color: transparent;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                color: var(--color--main);

                & img {
                    transform: scale(1.2);
                }

                & .projectsTitle {
                    color: var(--color--main);

                    & svg {
                        position: relative;
                        top: -10%;
                        transform: none;
                    }
                }
            }
        }

        &Image {
            margin-right: 24px;
            overflow: hidden;
            width: 0;
            margin: 0;
        }

        &Title {
            font-size: 12px;
        }

        &Subtitles {
            font-size: 10px;
        }

        &Tech {
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &Tech li {
            background-color: transparent;
            border: .5px solid var(--color-text3);
            font-size: 9px;
            width: 100%;
            padding: 3px;
            max-width: 100px;
            margin: 15px 15px 0 0;
        }

        &Tech li:nth-child(2n+1):last-child {
            margin: 15px auto 0;
        }
    }
}