.projects {
  height: 450px;
  width: 100%;
  max-width: 1146px;
  margin: 100px 0 0;
  padding: 0 40px;

  &Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &Title {
    font-size: 4vw;
    font-weight: 500;
    line-height: 100%;
    font-style: normal;
    margin-bottom: 16px;

    & span {
      color: var(--bg);
      text-shadow:
        -.5px .5px 1px var(--color-text3),
        .5px -.5px 1px var(--color-text3),
        -.5px -.5px 1px var(--color-text3),
        .5px -1px 1px var(--color-text3);
      font-weight: 800;
    }
  }

  &Buttons {
    display: flex;
    justify-content: space-between;
    max-width: 150px;
    width: 100%;
  }

  &Button {
    border: none;
    padding: 0;
    display: flex;
    transition: all .3s linear;


    &:first-of-type {
      transform: rotate(180deg);
    }

    &Dissable:hover {
      cursor: not-allowed;
    }

    &Dissable path {
      opacity: .3;
    }
  }

  &Wrapper {
    overflow: hidden;
    width: 100%;
    max-width: 1146px;
    display: flex;
    position: relative;
    flex-shrink: 0;
  }

  &Item {
    display: block;
    width: 100%;
    object-fit: cover;
    margin-top: 70px;
    padding: 8px;
    transition: all .3s linear;
    border-radius: 5px;

    &:hover {
      background-color: var(--bg--fon);
      -webkit-box-shadow: 22px 14px 25px 6px rgba(47, 59, 84, 0.2);
      -moz-box-shadow: 22px 14px 25px 6px rgba(47, 59, 84, 0.2);
      box-shadow: 22px 14px 25px 6px rgba(47, 59, 84, 0.2);

      & .projectsName {
        color: var(--color-text3);
      }
    }
  }

  &ItemActive {
    display: flex;
    flex-direction: column;
  }

  &ItemInactive {
    display: none;
  }

  &Name {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
  }

  &Container {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    max-width: 100%;
    box-sizing: border-box;

    & div {
      display: flex;
      flex-direction: column;

    }

    & ul {
      padding: 0;
      display: flex;
      justify-content: flex-start;
      margin-top: 14px;
    }

    & li {
      border: 1px solid rgba(204, 214, 246, 0.20);
      padding: 15px;
      border-radius: 5px;
      max-width: 112px;
      text-align: center;
      margin-right: 16px;
      font-size: 1vw;
      color: var(--color-text1);
    }

    & li:last-of-type {
      margin-right: 0;
    }
  }

  &Image {
    width: 50%;
    max-width: 500px;
    object-fit: contain;
    border-radius: 5px;
    margin-right: 16px;
  }

  &Subtitle {
    color: var(--color-text2);
    font-size: 1vw;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    text-align: justify;
  }
}