.projects {
  width: 100%;
  max-width: 1146px;
  margin: 180px 0 0;
  padding: 0 40px;

  &Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &Title {
    font-size: 4vw;
    font-weight: 500;
    line-height: 16px;
    font-style: normal;
    margin-bottom: 16px;

    & span {
      color: var(--bg);
      text-shadow:
        -.5px .5px 1px var(--color-text3),
        .5px -.5px 1px var(--color-text3),
        -.5px -.5px 1px var(--color-text3),
        .5px -1px 1px var(--color-text3);
      font-weight: 800;
    }
  }

  &Buttons {
    display: flex;
    justify-content: space-between;
    max-width: 150px;
    width: 100%;
  }

  &Button {
    border: none;
    padding: 0;
    display: flex;
    transition: all .3s linear;


    &:first-of-type {
      transform: rotate(180deg);
    }

    &Dissable:hover {
      cursor: not-allowed;
    }

    &Dissable path {
      opacity: .3;
    }
  }

  &Wrapper {
    overflow: hidden;
    width: 100%;
    max-width: 1146px;
    display: flex;
    position: relative;
    flex-shrink: 0;
  }

  &Item {
    display: block;
    width: 100%;
    object-fit: cover;
    margin-top: 70px;
    padding: 12px;
    opacity: 0;
    height: 350px;
    transition: opacity 0.6s ease-in-out, width 0.3s ease-in-out;
    border-radius: 5px;

    &:hover {
      background-color: var(--bg--fon);
      -webkit-box-shadow: 22px 14px 25px 6px rgba(47, 59, 84, 0.2);
      -moz-box-shadow: 22px 14px 25px 6px rgba(47, 59, 84, 0.2);
      box-shadow: 22px 14px 25px 6px rgba(47, 59, 84, 0.2);

      & .projectsName {
        color: var(--color-text3);
      }
    }
  }

  &ItemActive {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 1;
    visibility: visible;
  }

  &ItemInactive {
    visibility: hidden;
    width: 0;
    padding: 0;
    margin: 0;
  }

  &Name {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
  }

  &Container {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    max-width: 100%;
    box-sizing: border-box;
    

    & div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    & ul {
      padding: 0;
      display: flex;
      justify-content: flex-start;
      margin-top: 14px;
    }

    & li {
      border: 1px solid rgba(204, 214, 246, 0.20);
      padding: 15px;
      border-radius: 5px;
      max-width: 112px;
      text-align: center;
      margin-right: 16px;
      font-size: .8vw;
      color: var(--color-text1);
    }

    & li:last-of-type {
      margin-right: 0;
    }
  }

  &Image {
    width: 50%;
    max-width: 500px;
    max-height: 280px;
    border-radius: 5px;
    margin-right: 16px;
    float: right;
  }

  &Subtitle {
    color: var(--color-text2);
    font-size: 1vw;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    text-align: justify;
  }

  @media screen and (max-width:1235px) {
    &Image {
      max-width: 40%;
    }
  }

  @media screen and (max-width:1024px) {
    &Item {
      height: 260px;
    }

    &Image {
      display: none;
    }

    &Container {
      height: 100%;

      & div {
        justify-content: space-between;
      }
    }
  }

  @media screen and (max-width:890px) {
    & {
      max-width: 800px;
      height: auto;
      margin: 50px auto 0;
      padding: 0;
    }

    &Wrapper {
      margin-top: 12px;
    }

    &Item {
      margin: 0;
      background-color: var(--bg--fon);
    }
  }

  @media screen and (max-width:430px) {
    & {
      max-width: 400px;
      margin: 20px auto 0;
      padding: 0;
      height: max-content;
    }

    &Header {
      margin: 20px 0 0px;
    }

    &Title {
      font-size: 25px;
    }

    &Subtitle {
      font-size: 10px;
    }

    &Container ul {
      flex-wrap: wrap;
    }

    &Container li {
      font-size: 10px;
      padding: 0 10px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &Container li:nth-of-type(6n) {
      margin-top: 14px;
    }

  }

  @media screen and (max-width:390px) {
    & {
      max-width: 370px;
      margin: 0 auto;
    }

    &Container li {
      max-width: 100px;
      margin-right: 10px;
    }

    &Container li:last-of-type {
      margin-right: 0px;
    }
  }

  @media screen and (min-width:1920px) {
    & {
      max-width: 1580px;
    }

    &Wrapper {
      max-width: 100%;
    }
  }

  @media screen and (min-width:3420px) {
    & {
      max-width: 2280px;
    }

    &Image {
      max-width: 800px;
      max-height: 450px;
    }

    &Container div {
      display: flex;
      justify-content: space-between;
    }

    &Container li {
      max-width: 250px;
    }

    &Subtitle {
      font-size: 39px;
      line-height: 52px;
    }
  }
}

.slide-enter {
  opacity: 0;
}

.slide-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.slide-exit {
  opacity: 1;
}

.slide-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}