.burger {
    display: none;
    width: 150px;


    @media screen and (max-width: 890px) {
        & {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: absolute;
            top: 0;
            right: 0;
            margin: 25px;
        }

        &Array {
            width: 25px;
            border-top: 1px solid var(--color-text1);
            transition: transform .4s ease;

            &::after,
            &::before {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background-color: var(--color-text1);
                margin: 5px 0;
                transition: transform .4s ease;
            }
        }

        &Cross {
            position: relative;
            border: none;
            transform: rotate(140deg);

            &::before {
                position: absolute;
                transform: rotate(270deg);
            }

            &::after {
                transform: rotate(180deg);
            }
        }

        &Menu {
            z-index: 0;
        }
    }

    @media screen and (max-width: 560px){
        & {
            right: -25px;
        }
    }
}