@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Roboto:wght@400;500&display=swap');

:root {
    --bg: #0A192F;
    --bg--project: #2F3B54;
    
    --color--main: #FFF;
    --color-text: #CCD6F6;

}