@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');

:root {
    --bg: #0a192f;
    --bg--fon: rgb(17, 34, 64);
    --bg--project: rgb(47, 59, 84);
    --color-cursor: rgb(19, 30, 50);

    --color--main: #FFF;
    --color-text1: #A8B2D1;
    --color-text2: #CCD6F6;
    --color-text3: #64FFDA;
}