@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Roboto:wght@400;500&display=swap');

:root {
    --bg: #112240;
    --bg--fon: #11192C;
    --bg--project: #2F3B54;

    --color--main: #FFF;
    --color-text1: #A8B2D1;
    --color-text2: #CCD6F6;
    --color-text3: #64FFDA;


}