body {
	background: radial-gradient(circle at 13px 3px, var(--bg), var(--bg));
	font-size: 16px;
	line-height: 16px;
	font-family: 'Montserrat', Roboto, sans-serif;
	padding: 0;
	margin: 0 auto;
	overflow-x: hidden;
	color: #fff;
	font-weight: 500;
	box-sizing: border-box;
	// height: 100vh;
	cursor: default;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 24px;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

input,
button {
	border: none;
	background: none;
	outline: none;
	color: #fff;
	font-size: 16px;
	font-family: Montserrat, Roboto, sans-serif;
}

a {
	color: #fff;
	text-decoration: none;
}

ul,
li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.flex {
	display: flex;
}

.flex-center {
	align-items: center;
	justify-content: center;
}

.icon {
	width: 12px;
	height: 12px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

section,
footer,
aside {
	box-sizing: border-box;
	scroll-margin-top: 6rem;
}

button {
	background: var(--violet-dark);
	border-radius: 6px;
	padding: 9px 20px;
	font-weight: 600;
	line-height: 20px;
	cursor: pointer;
}

button:hover {
	background: var(--violet);
}

h2 {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
	/* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
	-moz-appearance: textfield;
	/* Firefox */
}

input {
	padding: 0;
}

.preloader {
	flex-grow: 1;
	padding: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}