.main {
    width: 60%;
    margin: 0 auto;
    box-sizing: border-box;

    & section {
        max-width: 800px;
    }

    @media screen and (max-width:890px) {
        & {
            display: flex;
            flex-direction: column;
            max-width: 100%;
            width: 100%;
            margin: 30px auto ;

            & section {
                flex-grow: 1;
                width:100%;
            }
        }
    }
}