.logo {
    max-width: calc(350px - 60px);
    // width: 100%;
    margin: 50px 50px 30px;
    flex-shrink: 0;
    align-items: flex-start;

    &Name {
        color: var(--color-text2);
        font-size: 1.2vw;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 0.88px;
        white-space: nowrap;
        text-transform: uppercase;

        @media screen and (max-width:890px) {
            & {
                font-size: 48px;
                text-transform: capitalize
            }
        }
    }

    &Title {
        color: var(--color-text3);
        font-size: 1.6vw;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 1.65px;
        white-space: nowrap;
        text-transform: uppercase;
        text-align: left;

        @media screen and (max-width:890px) {
            & {
                font-size: 40px;
            }
        }
    }

    &Text {
        color: var(--color--main);
        font-size: 1.5vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        @media screen and (max-width:890px) {
            & {
                font-size: 44px;
            }
        }
    }

    &Green {
        color: var(--bg);
        text-shadow:
            -.5px .5px 1px var(--color-text3),
            .5px -.5px 1px var(--color-text3),
            -.5px -.5px 1px var(--color-text3),
            .5px -1px 1px var(--color-text3);
        font-weight: 800;
    }

    &Grey {
        color: var(--color-text2);
        font-weight: 700;
    }

    &Black {
        color: var(--bg);
        text-shadow:
            -.5px .5px 1px var(--color-text2),
            .5px -.5px 1px var(--color-text2),
            -.5px -.5px 1px var(--color-text2),
            .5px -1px 1px var(--color-text2);
    }

    &Email {
        font-size: .8vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 2px;
    }

    @media screen and (max-width:890px) {
        & {
            width: 100%;
        }
    }

    @media screen and (max-width:560px) {
        & {
            flex-grow: 1;
            max-width: 350px;
            margin: 12px auto;

            &Name {
                font-size: 30px;
            }

            &Title {
                font-size: 32px;
            }

            &Text {
                font-size: 30px;
            }
        }
    }

}