.about {
    margin: 170px 0;
    width: 100%;
    max-width: 1146px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scroll-margin-top: 0;
    box-sizing: border-box;

    &Title {
        font-size: 4vw;
        font-weight: 500;
        line-height: 90%;
        font-style: normal;
        margin-bottom: 16px;
    }

    &Green {
        font-size: 4vw;
        color: var(--bg);
        text-shadow:
            -.5px .5px 1px var(--color-text3),
            .5px -.5px 1px var(--color-text3),
            -.5px -.5px 1px var(--color-text3),
            .5px -1px 1px var(--color-text3);
        font-weight: 800;
    }

    &Grey {
        font-size: 4vw;
        color: var(--color-text2);
        font-weight: 700;
    }

    &Black {
        font-size: 4vw;
        color: var(--bg);
        text-shadow:
            -.5px .5px 1px var(--color-text2),
            .5px -.5px 1px var(--color-text2),
            -.5px -.5px 1px var(--color-text2),
            .5px -1px 1px var(--color-text2);
    }

    &Text {
        margin-top: 50px;
        color: var(--color-text2);
        font-size: 1.1vw;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        text-align: justify;

        & a {
            font-size: 1.1vw;
            color: var(--color-text3);
        }

        & span {
            font-size: 16px;
            color: var(--color-text2);
        }

        @media screen and (max-width:890px) {
            & {
                max-width: 100%;
                font-size: 16px;
                text-align: justify;
            }

            & a {
                font-size: 16px;
            }
        }
    }

    & div:first-child {
        height: 150px;
    }

    @media screen and (max-width:1280px) {
        & {
            margin: 50px 0;
        }

        & div:first-child {
            height: 100px;
        }
    }

    @media screen and (max-width:890px) {
        & {
            max-width: 800px;
            margin: 15px auto 0;
            width: 100%;
            padding: 0;
        }

        & div:first-child {
            height: 76px;
        }

    }

    @media screen and (max-width:430px) {
        & {
            max-width: 400px;
            margin: 15px auto 0;
            width: 100%;
            padding: 0;
        }

        &Title,
        &Green,
        &Grey,
        &Black {
            font-size: 25px;
        }

        &Text {
            margin-top: 15px;
            font-size: 15px;
        }

        &Text span,
        a {
            font-size: 15px;
        }
    }

    @media screen and (min-width:1920px) {
        & {
            max-width: 1580px;
        }
    }

    @media screen and (min-width:3420px) {
        & {
            max-width: 2280px;
        }
    }

    @media screen and (max-width:390px) {
        & {
            max-width: 370px;
            margin: 0 auto;
        }
    }

    @keyframes blink {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    &Cursor {
        color: var(--color-text3);
        animation: blink 1s step-end infinite;
        font-size: 4vw;
    }



}