.about {
    margin: 80px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &Text {
        margin-bottom: 15px;
        color: var(--color-text2);
        font-size: 1.1vw;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        text-align: justify;

        & span {
            font-size: 1.2vw;
            color: var(--color-text3);
        }

        & a {
            font-size: 1.2vw;
        }
    }
}