.contacts {
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    box-sizing: border-box;

    & li {
        max-width: 65px;
    }


    &Icons {
        max-width: 65px;
        max-height: 65px;
        object-fit: contain;
    }

    &Icons svg {
        max-width: 65px;
    }

    @media screen and (max-width:560px) {
        & {
            margin: 0;
            z-index: 1;
        }
    }
}