.header {
    grid-area: header;
    box-sizing: border-box;
    height: auto;

    &Wrapper {
        max-width: 217px;
        // height: 100%;
        width: 100%;
        margin: 30px;
        flex-shrink: 0;
        // display: flex;
        // flex-direction: column;
        align-items: flex-start;
    }

    &Name {
        color: var(--color-text2);
        font-size: .9vw;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 0.88px;
        white-space: nowrap;
        text-transform: uppercase;
    }

    &Title {
        color: var(--color-text3);
        font-size: 1.2vw;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 1.65px;
        white-space: nowrap;
        text-transform: uppercase;
        text-align: left;
    }

    &Email {
        color: var(--color-text2);
        font-size: .7vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 2px;
    }
}