.header {
    box-sizing: border-box;
    position: fixed;
    max-width: 380px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width:890px) {
        & {
            position: relative;
            flex-grow: 1;
            max-width: 100%;
            width: 100%;
        }
    }

    @media screen and (max-width:560px) {
        & {
            flex-grow: 1;
            max-width: 300px;
            margin: 0 auto;
        }
    }
}