.navbar {
    grid-area: navbar;
    max-height: 100%;
    border: 1px gold solid;

    &List {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding: 50px 20px;
        margin: 0 40px 0;
    }

    &Item {
        position: relative;

        &:nth-child(4) {
            gap: 0;
        }

        &:last-of-type {
            margin-top: auto;
        }

        &:hover {
            position: relative;
            cursor: pointer;

            &::before {
                content: "";
                position: absolute;
                display: flex;
                top: 50%;
                left: 100%;
                transform: translate(50%, -50%);
                width: 6px;
                height: 6px;
                background-color: var(--color-text3);
                border-radius: 50%;
            }
        }
    }

    &Link {
        writing-mode: vertical-lr;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        color: var(--color-text2);


    }
}