.burgerWrapper {
  display: none;

  @media screen and (max-width:890px) {
    & {
      display: flex;
      justify-content: flex-end;
      position: relative;
      margin: 25px 0;
      width: 100%;
    }
  }
}